.tab_customer{
background: 0 !important;
    width: 55% !important;
}
.tab_customer .nav-item {
    width: 47%;
    background: var(--Title-Liner, linear-gradient(92deg, rgb(160 202 244 / 80%) -119.44%, rgb(66 141 216 / 40%) 98.36%)) !important;
    color: rgb(55, 131, 213) !important;
    margin: 0 10px;
    border-radius: 10px;
}

.tab_customer .nav-link {
    padding: 5px !important;
}

.welcome5-section-area .welcome5-images-area .content2-elements img {
    position: relative;
    left: 132px;
    top: 10px;
}
.c-welcome5-section-area .welcome5-images-area .content2-elements p {
    color: #FFF;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    position: relative;
    left: 68px;
    opacity: 1;
}
.welcome5-section-area .welcome5-images-area .content-elements img {
    position: relative;
    right: 208px;
    top: 60px;
}
.c-welcome5-section-area .welcome5-images-area .content-elements p {
    color: #FFF;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    position: relative;
    left: -160px;
    top: 50px;
    opacity: 1;
}


@media (max-width: 767px) {
    .mobile-logo img {
        height: 45px !important;
    }
  
  .temp-code-chinhhang .tab_customer{width:100% !important;padding: 0;}
  .temp-code-chinhhang .tab_customer .nav-item{width:100% !important;margin-bottom: 10px;}
  #qrcode_chinhhang{padding: 0px 0 0px !important;}
  #qrcode_chinhhang .c-content-elements-2 {bottom: 330px;right: 0;width: 100%;}
  #qrcode_chinhhang .c-content-elements-1 {position: absolute;bottom: 245px;left: 0;width: 100%;}
  #qrcode_chinhhang .welcome5-images-area .img1 img{position: relative;bottom: -310px !important;}
  #qrcode_chinhhang .c-content-elements-3 {bottom: 186px;left: 0;width: 100%;}
  #qrcode_chinhhang .c-content-elements-4 {bottom: 100px;right: 0;width: 100%;}
  
 
 #pills-profile1 .c-content-elements-2 {bottom: 190px !important;right: 0;width: 100%;}
 #pills-profile1 .c-content-elements-1 {position: absolute;bottom: 250px !important;left: 0;width: 100%;}
 #pills-profile1 .c-content-elements-3 {bottom: 130px !important;left: 0;width: 100%;}
 #pills-profile1 .c-content-elements-4 {bottom: 70px !important;right: 0;width: 100%;}
  #pills-profile1 .c-content-elements-5 {bottom: 10px !important;right: 0 !important;left: 0 !important;width: 100%;}
  #pills-profile1 .c-content-elements-6 {bottom: -76px !important;right: 0 !important;left: 0 !important;width: 100%;}
  #pills-profile1 .c-content-elements-7 {bottom: -162px !important;right: 0 !important;left: 0 !important;width: 100%;}
 #pills-profile1 .welcome5-images-area .img1 img {position: relative;bottom: -490px !important;}
#pills-home1{height: 760px;}
#pills-profile1{height: 870px;background: rgb(202, 221, 255) !important;}
.c-table-price table td {border: solid 2px #3c99a3;padding: 10px 10px !important;}
  .work5-section-area .work5-boxarea .img{display:none !important;}  
}